MONGODB_URI=mongodb+srv://Admin:Abhijit2@cluster0.jvznsdl.mongodb.net/rmc_break_tracker?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
PORT=5000
ADMIN_USERNAME=administrator
ADMIN_PASSWORD=Admin@123
JWT_SECRET=your_jwt_secret_key_here
PORT=5000
